.btn{
    font-size: 16px;
    line-height: 18px;
    font-weight: 800;
    padding: 21px 41px;
    border-radius: 100px;
    text-transform: uppercase;
}

.product__btn{
    background-color: #497870;
    color: #fff;
}

.initial__btn{
    background-color: #fff;
    color: #365A49;
    @include tablet{
        text-align: center;
    }

    @include mobile{
        font-size: rem(19px);
    }
}
.products__arrow-left{
    background-color: inherit;
    position: absolute;
    top: 55%;
    transform: translateY(-55%);
    right: 99%;

    @include tablet{
        top: 30%;
        transform: translateY(-30%);
        right: 79%;
    }

    @include mobile{
        right: 95%;
    }

}
.products__arrow-right{
    background-color: inherit;
    position: absolute;
    top: 55%;
    transform: translateY(-55%);
    left: 99%;

    @include tablet{
        top: 30%;
        transform: translateY(-30%);
        left: 79%;
    }

    @include mobile{
        left: 95%;
    }
}